site_name: OpenCloudOS Documentation
repo_url: https://github.com/OpenCloudOS/opencloudos.github.io
repo_name: OpenCloudOS/opencloudos.github.io
edit_uri: edit/main/docs/

theme:
  name: material
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: zh
  features:
    # - announce.dismiss
    - content.code.annotate
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  logo: assets/logo.svg
  icon:
    repo: fontawesome/brands/github

# Extensions
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - tables

nav:
  - 首页: index.md
  - 快速入门:
    - 下载及安装: quickstart/install.md
    - 使用说明: quickstart/use.md
  - 用户指南:
    - 基础配置: guide/config.md
    - 系统管理: guide/sysadmin.md
    - 内核更新: guide/update.md
    - 系统状态监控: guide/monitor.md
    - 安全加固: guide/security.md
    - 存储管理: guide/storage.md
    - 文件系统: storage/file_system.md
    - 兼容硬件: guide/adaptation.md
    - 网络管理: 
      - 1-6章: network/Network1-6.md
      - 7-12章: network/Network7-12.md
      - 13-18章: network/Network13-18.md
      - 19-24章: network/Network19-24.md
      - 25-30章: network/Network25-30.md
      - 31-36章: network/Network31-36.md
  - 版本说明:
    - v8.5: release/v8.5.md
    - v8.6: release/v8.6.md
    - OpenCloudOS Stream: release/ocs.md
    - OpenCloudOS Stream Kernel: release/ocsk.md
  - 常见问题: faq.md
  - 如何贡献: contribute.md

plugins:
  - search
  - i18n:
      default_language: zh
      material_alternate: true
      languages:
        zh:
          name: 中文
        en:
          name: English
      nav_translations:
        en:
          首页: Home
          快速入门: Quick Start
          下载及安装: Download & Install
          使用说明: How to Use
          用户指南: Guide
          基础配置: Configuation
          系统管理: System Admin
          内核更新: Update
          系统状态监控: System Monitor
          安全加固: Security
          网络管理: Network
          存储管理: Storage
          兼容硬件: Hardware Adaptation
          版本说明: Releases
          常见问题: FAQ
          如何贡献: Contributing